In [1]:
import pandas as pd
pd.set_option('max_column', None)
pd.set_option('display.float_format',lambda x:'%5f'%x)

import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')
import streamlit as st

In [2]:
url = 'https://raw.githubusercontent.com/katenjoki/Telecom_Week1Challenge/main/OneDrive/Desktop/10Academy/Telecom_Week1Challenge/data/Week1_challenge_data_source(CSV).csv'
data = pd.read_csv(url)
data.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),DL TP < 50 Kbps (%),50 Kbps < DL TP < 250 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),DL TP > 1 Mbps (%),UL TP < 10 Kbps (%),10 Kbps < UL TP < 50 Kbps (%),50 Kbps < UL TP < 300 Kbps (%),UL TP > 300 Kbps (%),HTTP DL (Bytes),HTTP UL (Bytes),Activity Duration DL (ms),Activity Duration UL (ms),Dur. (ms).1,Handset Manufacturer,Handset Type,Nb of sec with 125000B < Vol DL,Nb of sec with 1250B < Vol UL < 6250B,Nb of sec with 31250B < Vol DL < 125000B,Nb of sec with 37500B < Vol UL,Nb of sec with 6250B < Vol DL < 31250B,Nb of sec with 6250B < Vol UL < 37500B,Nb of sec with Vol DL < 6250B,Nb of sec with Vol UL < 1250B,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,13114483460844900352.000000,4/4/2019 12:01,770.000000,4/25/2019 14:35,662.000000,1823652.000000,208201448079117.000000,33664962239.000000,35521209507511.000000,9.16456699548519E+015,42.000000,5.000000,23.000000,44.000000,NaN,NaN,100.000000,0.000000,0.000000,0.000000,100.000000,0.000000,0.000000,0.000000,NaN,NaN,37624.000000,38787.000000,1823652892.000000,Samsung,Samsung Galaxy A5 Sm-A520F,NaN,NaN,NaN,NaN,NaN,NaN,213.000000,214.000000,1545765.000000,24420.000000,1634479.000000,1271433.000000,3563542.000000,137762.000000,15854611.000000,2501332.000000,8198936.000000,9656251.000000,278082303.000000,14344150.000000,171744450.000000,8814393.000000,36749741.000000,308879636.000000
1,13114483482878900224.000000,4/9/2019 13:04,235.000000,4/25/2019 8:15,606.000000,1365104.000000,208201909211140.000000,33681854413.000000,35794009006359.000000,L77566A,65.000000,5.000000,16.000000,26.000000,NaN,NaN,100.000000,0.000000,0.000000,0.000000,100.000000,0.000000,0.000000,0.000000,NaN,NaN,168.000000,3560.000000,1365104371.000000,Samsung,Samsung Galaxy J5 (Sm-J530),NaN,NaN,NaN,NaN,NaN,NaN,971.000000,1022.000000,1926113.000000,7165.000000,3493924.000000,920172.000000,629046.000000,308339.000000,20247395.000000,19111729.000000,18338413.000000,17227132.000000,608750074.000000,1170709.000000,526904238.000000,15055145.000000,53800391.000000,653384965.000000
2,13114483484080500736.000000,4/9/2019 17:42,1.000000,4/25/2019 11:58,652.000000,1361762.000000,208200314458056.000000,33760627129.000000,35281510359387.000000,D42335A,NaN,NaN,6.000000,9.000000,NaN,NaN,100.000000,0.000000,0.000000,0.000000,100.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000,0.000000,1361762651.000000,Samsung,Samsung Galaxy A8 (2018),NaN,NaN,NaN,NaN,NaN,NaN,751.000000,695.000000,1684053.000000,42224.000000,8535055.000000,1694064.000000,2690151.000000,672973.000000,19725661.000000,14699576.000000,17587794.000000,6163408.000000,229584621.000000,395630.000000,410692588.000000,4215763.000000,27883638.000000,279807335.000000
3,13114483485442799616.000000,4/10/2019 0:31,486.000000,4/25/2019 7:36,171.000000,1321509.000000,208201402342131.000000,33750343200.000000,35356610164913.000000,T21824A,NaN,NaN,44.000000,44.000000,NaN,NaN,100.000000,0.000000,0.000000,0.000000,100.000000,0.000000,0.000000,0.000000,NaN,NaN,3330.000000,37882.000000,1321509685.000000,undefined,undefined,NaN,NaN,NaN,NaN,NaN,NaN,17.000000,207.000000,644121.000000,13372.000000,9023734.000000,2788027.000000,1439754.000000,631229.000000,21388122.000000,15146643.000000,13994646.000000,1097942.000000,799538153.000000,10849722.000000,749039933.000000,12797283.000000,43324218.000000,846028530.000000
4,13114483499480700928.000000,4/12/2019 20:10,565.000000,4/25/2019 10:40,954.000000,1089009.000000,208201401415120.000000,33699795932.000000,35407009745539.000000,D88865A,NaN,NaN,6.000000,9.000000,NaN,NaN,100.000000,0.000000,0.000000,0.000000,100.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000,0.000000,1089009389.000000,Samsung,Samsung Sm-G390F,NaN,NaN,NaN,NaN,NaN,NaN,607.000000,604.000000,862600.000000,50188.000000,6248284.000000,1500559.000000,1936496.000000,173853.000000,15259380.000000,18962873.000000,17124581.000000,415218.000000,527707248.000000,3529801.000000,550709500.000000,13910322.000000,38542814.000000,569138589.000000

In [3]:
data.shape

(150001, 55)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

In [5]:

y = data['Gaming DL (Bytes)'] * data['Gaming UL (Bytes)']
data['Nb of sec with 6250B < Vol DL < 31250B']=data['Nb of sec with 6250B < Vol DL < 31250B'].fillna(y)
data['Nb of sec with 6250B < Vol DL < 31250B'].isnull().any()

2021-09-17 10:27:32.691 INFO    numexpr.utils: NumExpr defaulting to 4 threads.

False

In [6]:
x = [1,2,3,4,5,6,7,8,9,10]
df = pd.DataFrame(x,columns=['numbers'])

def map_num(num):
    if num <= 3:
        return 'less than 3'
    elif num <6:
        return 'less than 6 greater than 3'
    else:
        return 'less than 10'
    
df['rate'] = df['numbers'].apply(lambda num: map_num(num))

In [7]:
x = [1,2,3,4,5,6,7,8,9,10]
y = ['a','a','a','b','c','c','b','d','e','f']
df = pd.DataFrame(x,columns=['numbers'])
df['letters'] = y

dff = dict(df['letters'].value_counts())
dff

{'a': 3, 'c': 2, 'b': 2, 'e': 1, 'd': 1, 'f': 1}

In [8]:
data['Start ms'].fillna(mean_z)

NameError: name 'mean_z' is not defined

In [ ]:
x = list(data['Nb of sec with 125000B < Vol DL'].dropna())
y = sorted(x)
y = y[:len(y)-10]

y = sorted(y,ascending=True)

<h2>Task 1 : User Overview Analysis </h2>

<h3> Data Cleaning </h3>

In [ ]:
data.columns = data.columns.str.replace(' ','_')
data.columns = data.columns.str.replace('/','_')
data.columns.to_list()

In [ ]:
data.dtypes

In [ ]:
#Convert dates to datetime
data['Start_ms']=pd.to_datetime(data['Start_ms'])
data['End_ms']=pd.to_datetime(data['End_ms'])

**Checking for null values**

In [ ]:
#Check if there are rows where all column values are null
check_null = data.columns.isnull().any()
check_null

In [ ]:
#% of null values
def null_analysis(df):
    total_values = np.product(df.shape)
    total_null = (df.isnull().sum()).sum()
    proportion_null = (total_null / total_values)*100
    
    print("The Telcommunication dataset has ",proportion_null,"% null values.")

null_analysis(data)

**Finding columns that have more than 30% of null values**

In [ ]:
def null_per_column(df):
    dataset = df.isnull().sum()
    dataset = pd.DataFrame(dataset,columns=['null'])
    dataset['%null'] = (dataset['null']/df.shape[0])*100
    dataframe = dataset[dataset['%null']>=30]
    print(dataframe)    
    #print('\n List of columns with more than 30% null values:\n',dataframe.index.to_list())

null_per_column(data)

In [ ]:
#Dropping columns with more than 30% null values,apart from the TCP columns
data=data.drop(['HTTP_DL_(Bytes)', 'HTTP_UL_(Bytes)', 'Nb_of_sec_with_125000B_<_Vol_DL', 'Nb_of_sec_with_1250B_<_Vol_UL_<_6250B', 'Nb_of_sec_with_31250B_<_Vol_DL_<_125000B', 'Nb_of_sec_with_37500B_<_Vol_UL', 'Nb_of_sec_with_6250B_<_Vol_DL_<_31250B', 'Nb_of_sec_with_6250B_<_Vol_UL_<_37500B'],axis=1)
data.shape

In [ ]:
data.isnull().sum()

* Column Bearer Id has 991 null values, we drop these rows as the Bearer Id should be a unique identifier and we have a large dataset

In [ ]:
data = data[data['Bearer_Id'].notna()]
data.isnull().sum()

In [ ]:
#replace null values for object types with mode
def null_objects(df,column):
    df[column] = df[column].fillna(df[column].mode()[0])
    return df[column]

data['Last_Location_Name'] = null_objects(data,'Last_Location_Name')
data['Handset_Manufacturer'] = null_objects(data,'Handset_Manufacturer')
data['Handset_Type']= null_objects(data,'Handset_Type')

#list of columns with null values,
def null_values(df):
    dataframe=df.isnull().sum()
    dataframe=pd.DataFrame(dataframe,columns=['null'])
    dataframe=dataframe[dataframe['null']>0]
    print(dataframe.index.to_list())

null_values(data)

In [ ]:
#check skewness
data_test=data[['TCP_DL_Retrans._Vol_(Bytes)','TCP_UL_Retrans._Vol_(Bytes)','IMSI', 'MSISDN_Number', 'IMEI', 'Avg_RTT_DL_(ms)', 'Avg_RTT_UL_(ms)', 'DL_TP_<_50_Kbps_(%)', '50_Kbps_<_DL_TP_<_250_Kbps_(%)', '250_Kbps_<_DL_TP_<_1_Mbps_(%)', 'DL_TP_>_1_Mbps_(%)', 'UL_TP_<_10_Kbps_(%)', '10_Kbps_<_UL_TP_<_50_Kbps_(%)', '50_Kbps_<_UL_TP_<_300_Kbps_(%)', 'UL_TP_>_300_Kbps_(%)', 'Nb_of_sec_with_Vol_DL_<_6250B', 'Nb_of_sec_with_Vol_UL_<_1250B']]
data_test.skew()

In [ ]:
#since data is skewed we replace the null values with the median
column_names = ['TCP_DL_Retrans._Vol_(Bytes)','TCP_UL_Retrans._Vol_(Bytes)','IMSI', 'MSISDN_Number', 'IMEI', 'Avg_RTT_DL_(ms)', 'Avg_RTT_UL_(ms)', 'DL_TP_<_50_Kbps_(%)', '50_Kbps_<_DL_TP_<_250_Kbps_(%)', '250_Kbps_<_DL_TP_<_1_Mbps_(%)', 'DL_TP_>_1_Mbps_(%)', 'UL_TP_<_10_Kbps_(%)', '10_Kbps_<_UL_TP_<_50_Kbps_(%)', '50_Kbps_<_UL_TP_<_300_Kbps_(%)', 'UL_TP_>_300_Kbps_(%)', 'Nb_of_sec_with_Vol_DL_<_6250B', 'Nb_of_sec_with_Vol_UL_<_1250B']

for i in column_names:
    data[i]=data[i].fillna(data[i].median())

(data.isnull().sum()).sum()

**Normalize each engagement metric;user behavior can be tracked through the following applications:  Social Media, Google, Email, Youtube, Netflix, Gaming, Other.**
**These variables will be used for k-means forecasting hence why we normalize**

In [ ]:
#from sklearn.preprocessing import MinMaxScaler
#columns = ['Social_Media_DL_(Bytes)','Social_Media_UL_(Bytes)', 'Google_DL_(Bytes)', 'Google_UL_(Bytes)','Email_DL_(Bytes)', 'Email_UL_(Bytes)', 'Youtube_DL_(Bytes)','Youtube_UL_(Bytes)', 'Netflix_DL_(Bytes)', 'Netflix_UL_(Bytes)',
 #      'Gaming_DL_(Bytes)', 'Gaming_UL_(Bytes)', 'Other_DL_(Bytes)','Other_UL_(Bytes)']

#data[columns]=MinMaxScaler().fit_transform(data[columns])

 **Function to determine top n entries**

In [ ]:
def top_n(df,column,n):
    top=df[column].value_counts().head(n)
    return top

**Identifying the top 10 handsets used by the customers**

In [ ]:
top_n(data,'Handset_Type',10)

**Identifying the top 3 handset manufacturers**

In [ ]:
top_n(data,'Handset_Manufacturer',3)

**Identifying the top 5 handsets per top 3 handset manufacturer**

In [ ]:
dataframe=data[['Handset_Manufacturer','Handset_Type']]
manufacturers=top_n(data,'Handset_Manufacturer',3).index.to_list()
dataframe = dataframe[dataframe['Handset_Manufacturer'].isin(manufacturers)]

dataframe.groupby('Handset_Manufacturer').Handset_Type.value_counts().groupby(level=0,group_keys=False).head(5)

**Overview of the usersâ€™ behavior on the applications**

In [ ]:
def sum_columns(df,col1,col2):
    return df[col1]+df[col2]

def avg_col(df,col1,col2):
    return (df[col1]+df[col2])/2

frame = pd.DataFrame(data,columns=['MSISDN_Number','Bearer_Id','Dur._(ms)','Handset_Type'])
frame['Social_Media_Bytes']=sum_columns(data,'Social_Media_DL_(Bytes)','Social_Media_UL_(Bytes)')
frame['Google_Bytes']=sum_columns(data,'Google_DL_(Bytes)','Google_UL_(Bytes)')
frame['Email_Bytes']=sum_columns(data,'Email_DL_(Bytes)','Email_UL_(Bytes)')
frame['Youtube_Bytes']=sum_columns(data,'Youtube_DL_(Bytes)','Youtube_UL_(Bytes)')
frame['Netflix_Bytes']=sum_columns(data,'Netflix_DL_(Bytes)','Netflix_UL_(Bytes)')
frame['Gaming_Bytes']=sum_columns(data,'Gaming_DL_(Bytes)','Gaming_UL_(Bytes)')
frame['Other_Bytes']=sum_columns(data,'Other_DL_(Bytes)','Other_UL_(Bytes)')
frame['Total_Bytes']=sum_columns(data,'Total_DL_(Bytes)','Total_UL_(Bytes)')
frame['Avg_RTT_ms']= avg_col(data,'Avg_RTT_DL_(ms)','Avg_RTT_UL_(ms)')
frame['Avg_TCP_Bytes']=avg_col(data,'TCP_DL_Retrans._Vol_(Bytes)', 'TCP_UL_Retrans._Vol_(Bytes)')
frame['Avg_Throughput_kbps']=avg_col(data,'Avg_Bearer_TP_DL_(kbps)', 'Avg_Bearer_TP_UL_(kbps)')

frame.head()

**To make interpretaion of the data easier to digest, we convert the Bytes to Megabytes and miliseconds to seconds**

In [ ]:
#convert ms to s
frame['Dur._(ms)'] =frame['Dur._(ms)']/1000

#convert bytes to megabytes
columns=['Social_Media_Bytes','Google_Bytes','Email_Bytes','Youtube_Bytes', 'Netflix_Bytes', 'Gaming_Bytes', 'Other_Bytes','Total_Bytes']
for i in columns:
    megabyte = 1*10e+5
    frame[i]= frame[i]/megabyte

frame.rename(columns={'Dur._(ms)':'Session_Duration_s','Social_Media_Bytes':'Social_Media_MB','Google_Bytes':'Google_MB',
                     'Email_Bytes':'Email_MB','Youtube_Bytes':'Youtube_MB', 'Netflix_Bytes':'Netflix_MB', 'Gaming_Bytes':'Gaming_MB', 'Other_Bytes':'Other_MB','Total_Bytes':'Total_MB'},inplace=True)

In [ ]:
df=frame.groupby(['MSISDN_Number','Handset_Type']).agg({'Bearer_Id':'count', 'Session_Duration_s':'sum', 'Total_MB':'sum','Social_Media_MB':'sum', 'Google_MB':'sum', 'Email_MB':'sum',
       'Youtube_MB':'sum', 'Netflix_MB':'sum', 'Gaming_MB':'sum', 'Other_MB':'sum','Avg_RTT_ms':'mean','Avg_TCP_Bytes':'mean','Avg_Throughput_kbps':'mean'}).reset_index()

df.rename(columns={'Bearer_Id':'No_of_xDRsessions'},inplace=True)
df.sample()

<h3>Exploratory Data Analysis</h3>

**Univariate Analysis**

In [ ]:
def plot_univariate(df,col1,col2):
    plt.figure(figsize=(12,8))
    
    plt.subplot(2,2,1)
    plt.hist(df[col1],bins=20,color='#AEC6CF',edgecolor='blue',linewidth=0.5)
    plt.title(f'Histogram of {col1}', size=14)
    
    plt.subplot(2,2,2)
    plt.boxplot(df[col1])
    plt.title(f'Boxplot of {col1}', size=14)
    
    plt.subplot(2,2,3)
    plt.hist(df[col2],bins=20,color='#b39eb5',edgecolor='purple',linewidth=0.5)
    plt.title(f'Histogram of {col2}', size=14)
    
    plt.subplot(2,2,4)
    plt.boxplot(df[col2])
    plt.title(f'Boxplot of {col2}', size=14)
    
    plt.show()

In [ ]:
user=df.copy()

**From the max values of each column, it is evident that the data has outliers, which will affect our EDA, hence
  we have to find a way to deal with them**

In [ ]:
#plot before removing outliers
plot_univariate(user,'Session_Duration_s','Total_MB')

In [ ]:
columns = user.columns.to_list()
del columns[:2]
for i in columns:
    user[i] = np.where(user[i] > user[i].quantile(0.95), user[i].median(),user[i])

In [ ]:
user.describe()

In [ ]:
user[['Netflix_MB', 'Gaming_MB', 'Other_MB']].describe()

In [ ]:
plot_univariate(user,'Session_Duration_s','Total_MB')

In [ ]:
plot_univariate(user,'Social_Media_MB','Email_MB',)

In [ ]:
plot_univariate(user,'Google_MB','Other_MB',)

**Bivariate Analysis**

In [ ]:
def plot_bivariate(df,col1,col2,col3,col4):
    fig,ax = plt.subplots(2,2,figsize=(12,8),sharey=True)
    
    ax1=plt.subplot(221)
    ax1.scatter(df[col1],df['Total_MB'],c='#AEC6CF',edgecolor='#AEC6CF',linewidth=1,alpha=0.8)
    ax1.title.set_text(f'Scatter plot of {col1} against Total_MB')
    
    ax2=plt.subplot(222)
    ax2.scatter(df[col2],df['Total_MB'],c='#AEC6CF',edgecolor='#AEC6CF',linewidth=1,alpha=0.8)
    ax2.title.set_text(f'Scatter plot of {col2} against Total_MB')
    
    ax3=plt.subplot(223)
    ax3.scatter(df[col3],df['Total_MB'],c='#AEC6CF',edgecolor='#AEC6CF',linewidth=1,alpha=0.8)
    ax3.title.set_text(f'Scatter plot of {col3} against Total_MB')
    
    ax4=plt.subplot(224)
    ax4.scatter(df[col4],df['Total_MB'],c='#AEC6CF',edgecolor='#AEC6CF',linewidth=1,alpha=0.8)
    ax4.title.set_text(f'Scatter plot of {col4} against Total_MB')
    plt.show()

In [ ]:
plot_bivariate(user.head(100),'Social_Media_MB','Google_MB','Email_MB', 'Youtube_MB')

In [ ]:
plot_bivariate(user.head(100),'Youtube_MB', 'Netflix_MB','Gaming_MB', 'Other_MB')

**Variable transformations**

In [ ]:
user['DecileRank']= pd.qcut(user['Session_Duration_s'],q = 5, labels = False)
user.sample(5)

In [ ]:
user.groupby('DecileRank')['Total_MB'].sum()

**Correlation Analysis**

In [ ]:
dataset=user[['Social_Media_MB', 'Google_MB', 'Email_MB','Youtube_MB', 'Netflix_MB', 'Gaming_MB', 'Other_MB']]
corr = dataset.corr()
sns.heatmap(corr)

**Principal Component Analysis**

In [ ]:
from sklearn.preprocessing import StandardScaler
columns = ['Social_Media_MB', 'Google_MB', 'Email_MB', 'Youtube_MB','Netflix_MB', 'Gaming_MB', 'Other_MB']
dataset[columns]=StandardScaler().fit_transform(dataset[columns])
dataset.head()

In [ ]:
from sklearn.decomposition import PCA

pca = PCA()
transform=pca.fit_transform(dataset)
dataset_transform=pd.DataFrame(transform,columns = ['Social_Media_Bytes', 'Google_Bytes', 'Email_Bytes', 'Youtube_Bytes','Netflix_Bytes', 'Gaming_Bytes', 'Other_Bytes'])
dataset_transform.head()

<h2>Task 2 - User Engagement analysis</h2>

Tracking the userâ€™s engagement using the following engagement metrics: 
* sessions frequency 
* the duration of the session 
* the sessions total traffic (download and upload (bytes))

The **user** dataframe had already aggregated the aforementioned metrics

**Aggregate the above metrics per customer id (MSISDN) and report the top 10 customers per engagement metric**

In [ ]:
def sort_metrics(data,col1,col2):
    df=data[[col1,col2]]
    dataf=df.sort_values(by=col1,ascending=False).head(10)
    return dataf

In [ ]:
sort_metrics(user,'No_of_xDRsessions','MSISDN_Number')

In [ ]:
sort_metrics(user,'Session_Duration_s','MSISDN_Number')

In [ ]:
sort_metrics(user,'Total_MB','MSISDN_Number')

In [ ]:
user.columns

**K-means clustering, to classify customers in three groups of engagement.**
* Our engagement metrics have different variances i.e 0.535166, 76.961036 and 332.115321  respectively for variables 'No_of_xDRsessions', 'Session_Duration_s', 'Total_MB' 
* Therefore, we standardise each engagement metric before carrying out K-means
* We use unlabelled data for this so we drop the MSISDN_Number

In [ ]:
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.cluster import KMeans
def kmeans_clusters(df,columns,n,title):
    kmeans=KMeans(n_clusters=n)
    data=df.copy()
    data[columns]=StandardScaler().fit_transform(data[columns])
    cluster=kmeans.fit_predict(data[columns])
    df[title]=cluster

In [ ]:
columns = ['No_of_xDRsessions', 'Session_Duration_s', 'Total_MB']
kmeans_clusters(df,columns,3,'engagement_clusters')

In [ ]:
engagement_metrics=df.groupby('engagement_clusters').agg({'No_of_xDRsessions':['min','mean','max','sum'],
                                      'Session_Duration_s':['min','mean','max','sum'],
                                      'Total_MB':['min','mean','max','sum']})
engagement_metrics

**Aggregate user total traffic per application and derive the top 10 most engaged users per application**

In [ ]:
sort_metrics(user,'Social_Media_MB','MSISDN_Number')

In [ ]:
sort_metrics(user,'Google_MB','MSISDN_Number')

In [ ]:
sort_metrics(user,'Email_MB','MSISDN_Number')

In [ ]:
sort_metrics(user,'Youtube_MB','MSISDN_Number')

In [ ]:
sort_metrics(user,'Netflix_MB','MSISDN_Number')

In [ ]:
sort_metrics(user,'Gaming_MB','MSISDN_Number')

In [ ]:
sort_metrics(user,'Other_MB','MSISDN_Number')

**Plot the top 3 most used applications using appropriate charts.**

In [ ]:
columns=['Social_Media_MB', 'Google_MB', 'Email_MB', 'Youtube_MB', 'Netflix_MB','Gaming_MB', 'Other_MB']
apps=user[columns].sum().sort_values(ascending=False).nlargest(3)

plt.bar(apps.index,apps,color='#b39eb5')
plt.show()

**Using k-means clustering algorithm, group users in k engagement clusters based on the engagement metrics using the elbow method**

We can choose 4 as the number of clusters, as that's the value of k at the "elbow"

In [ ]:
#Determining k
#wcss is the sum of squared distance between each point
customer=user[['No_of_xDRsessions', 'Session_Duration_s', 'Total_MB']]
columns = ['No_of_xDRsessions', 'Session_Duration_s', 'Total_MB']
customer[columns]=StandardScaler().fit_transform(customer[columns])

wcss_list=[]
for i in range(1,5):
    kmeans=KMeans()
    kmeans.fit(customer[columns])
    wcss_iter=kmeans.inertia_
    wcss_list.append(wcss_iter)

plt.plot(range(1,5),wcss_list)
plt.xlabel('#Clusters(K)')
plt.ylabel('WCSS')
plt.title('Grouping users by K-Means Clustering(Elbow Method)')

In [ ]:
from sklearn.cluster import KMeans
kmeans=KMeans(n_clusters=3)
cluster=kmeans.fit_predict(customer[columns])
customer['cluster']=cluster
user_clusters=customer.groupby('cluster').agg({'No_of_xDRsessions':['min','mean','max','sum'],'Session_Duration_s':['min','mean','max','sum'],
                                      'Total_MB':['min','mean','max','sum']})

<h2>Task 3 - Experience Analytics</h2>

In [ ]:
df.sample(5)

In [ ]:
#Confirming that there are no outliers
df.isnull().any()

**Aggregate, per customer, the following information**
* Average TCP retransmission
* Average RTT
* Handset type
* Average throughput

In [ ]:
experience=frame.copy()
experience=experience.groupby(['MSISDN_Number','Handset_Type']).agg({'Avg_RTT_ms':'mean','Avg_TCP_Bytes':'mean','Avg_Throughput_kbps':'mean'}).reset_index()
experience.sample(5)

**Compute & list 10 of the top, bottom and most frequent:**
* TCP values in the dataset. 
* RTT values in the dataset.
* Throughput values in the dataset.

In [ ]:
def sort_values(data,col1,asc):
    df=data[[col1]]
    dataf=df.sort_values(by=col1,ascending=asc).head(10)
    return dataf

Top 10s

In [ ]:
sort_values(experience,'Avg_RTT_ms',False)

In [ ]:
sort_values(experience,'Avg_TCP_Bytes',False)

In [ ]:
sort_values(experience,'Avg_Throughput_kbps',False)

Bottom 10s

In [ ]:
sort_values(experience,'Avg_RTT_ms',True)

In [ ]:
sort_values(experience,'Avg_TCP_Bytes',True)

In [ ]:
sort_values(experience,'Avg_Throughput_kbps',True)

Most frequently occurring

In [ ]:
def val_counts(data,col):
    df=data[[col]]
    dataf=df.value_counts().head(10)
    return dataf

In [ ]:
val_counts(experience,'Avg_RTT_ms')

In [ ]:
val_counts(experience,'Avg_TCP_Bytes')

In [ ]:
val_counts(experience,'Avg_Throughput_kbps')

In [ ]:
handset=experience.groupby('Handset_Type').agg({'Avg_Throughput_kbps':'mean','Avg_TCP_Bytes':'mean'}).reset_index()
handset

**The distribution of the average throughput  per handset type**

In [ ]:
def sort_handset(data,col1,col2,n):
    handsets=data.sort_values(by=col1,ascending=False)

    #plot
    plt.figure(figsize=(12,6))
    ax=sns.barplot(handsets[col2][:n],handsets[col1][:n],palette='PuBuGn',dodge=False)
    ax.set_xticklabels(handsets[col2][:n],rotation=80)
    plt.title(f'Distribution of the top {n} {col1} per {col2}')
    plt.show()

In [ ]:
sort_handset(handset,'Avg_Throughput_kbps','Handset_Type',20)

**The distribution of the average TCP retransmission per handset type**

In [ ]:
sort_handset(handset,'Avg_TCP_Bytes','Handset_Type',20)

**Using the experience metrics above, perform a k-means clustering (where k = 3)**

In [ ]:
#call the k-means function we created
columns=['Avg_RTT_ms','Avg_Throughput_kbps', 'Avg_TCP_Bytes']
kmeans_clusters(df,columns,3,'experience_clusters')

In [ ]:
experience_metrics=df.groupby('experience_clusters').agg({'Avg_RTT_ms':'mean','Avg_Throughput_kbps':'mean','Avg_TCP_Bytes':'mean'})
experience_metrics

In [ ]:
engagement_metrics

<h2>Task 4 - Satisfaction Analysis</h2>

Calculate:
* engagement score to each user. Consider the engagement score as the Euclidean distance between the user data point & the less engaged cluster (use the first clustering for this) 
* experience score to each user. Consider the experience score as the Euclidean distance between the user data point & the worst experienceâ€™s cluster.

In [ ]:
df.sample()

In [ ]:
engagement_metrics

In [ ]:
experience_metrics

In [ ]:
df['satisfaction_score']= avg_col(df,'engagement_clusters','experience_clusters')
df.sample(10)

In [ ]:
#satisfaction score ranges from 0-3
sort_metrics(df,'satisfaction_score','MSISDN_Number')

**Build a regression model of your choice to predict the satisfaction score of a
customer**

Multivariate Linear Regression Model because we have multiple explanatory variables

In [ ]:
df=pd.get_dummies(data=df,columns=['Handset_Type'])
df.head()

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

X= df.drop(['satisfaction_score','MSISDN_Number'],axis=1)
y=df['satisfaction_score']
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.3,random_state=0)

regressor = LinearRegression()
regressor.fit(X_train,Y_train)